# .ebextensions/01_packages.config
# Install essential Linux packages for psycopg2 and others
packages:
  yum:
    gcc: []
    gcc-c++: []
    libffi-devel: []
    python3-devel: []
    postgresql-devel: []
    libpq-devel: []

# Optionally increase pip timeout for heavy ML packages
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
